.places__paragraph {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 26px;
}

.places__paragraph:last-child {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .places__paragraph {
    line-height: 163%;
  }
}

@media (max-width: 768px) {
  .places__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

@media (max-width: 320px) {
  .places__paragraph {
    max-width: 288px;
  }
}
