.places__paragraph {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  margin: 0;
  margin-bottom: 26px;
}

.places__paragraph:last-child {
  margin-bottom: 0;
}

@media (max-width: 740px) {
  .places__title {
    font-size: 16px;
    line-height: 163%;
  }
}
